name: minapp
description: 知晓云 Flutter SDK
version: 1.0.0-alpha-7
homepage: https://doc.minapp.com/flutter-sdk/
repository: https://github.com/ifanrx/minapp

environment:
  sdk: ">=2.10.0 <3.0.0"


# publish_to: none

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.0.5
  dio: ^4.0.0
  json_annotation: ^3.0.1
  clock: ^1.0.1
  logger: ^0.9.2
  path: ^1.7.0
  # connectanum: 1.1.5
  # connectanum:
  #   path: ./lib/src/wamp/connectanum

  # connectanum deps
  saslprep: ^1.0.1
  pointycastle: ^2.0.0
  pinenacl: ^0.2.0
  logging: ^1.0.0
  pedantic: ^1.9.2
  meta: ^1.1.8
  msgpack_dart: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.10.0
  json_serializable: ^3.3.0
  test: ^1.14.0
  mockito: ^4.1.1
  faker: ^1.2.1

  # connectanum required deps
  stream_channel: 2.1.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
